### An Array of Sequences

In [17]:
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
print(codes)

[36, 162, 163, 165, 8364, 164]

In [18]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]

beyond_ascii = list(filter(lambda c: c > 127, map(ord,symbols)))
print(beyond_ascii)

[162, 163, 165, 8364, 164]

In [19]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
print(tshirts)

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]

### Generator Expression

In [20]:
t_shirts = (f'{c} {s}' for c in colors for s in sizes)
print(t_shirts)

<generator object <genexpr> at 0x0000015A4D538DD0>

In [21]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirts in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirts)

black S
black M
black L
white S
white M
white L

In [22]:
t = (1, 2, 3)
p = (4, 5, 6)
t += p
print(t)

(1, 2, 3, 4, 5, 6)

### Unpacking Sequence and Iterables

In [23]:
a,b = (1,2)
a , b = b , a  


value = divmod(20,8)
print(value)

t = (20,8)
quotient, reminder = divmod(*t)

(2, 4)

#### Unpacking with * in Function Calls and Sequence Literals

In [24]:
# Watch how * is used then you know if it packing or unpacking
def fun(a, b, c, d , *rest):
    return a, b, c, d, rest

fun(*[1,2], 3, *range(4,7))

(1, 2, 3, 4, (5, 6))

In [25]:
m = {*range(4), 7}
type(m)

set

In [26]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333,  -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)), ]

def main():
    print(f'{"":15} | {"lat.":9} | {"long.":9} | {"area":>6}')
    for record in metro_areas:
        match record:
            case (name, _, area, (lat, long)) if area > 20:
                print(f'{name:15} | {lat:9.4f} | {long:9.4f} | {area:6.1f}')